* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
  width: 100vw;
  height: 100vh;
  margin: 1em;
  display: flex;
  /* flex-direction: column; */
  font-family: 'Lexend', sans-serif;
}
body,
main {
    display: flex;
    flex-direction: column;
}

.card-container {
    width: 90vw;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    border: 3px solid black;
    border-radius: 3px;
    width: 100vw;
    padding-top: 15px;
    justify-items: center;
}

.card {
    display: flex;
    width: 15em;
    height: 15em;
    border: 1px solid black;
    border-radius: 3px;
}