* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
  width: 99vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: 'Lexend', sans-serif;
}

body,
main,
.nav-bar {
    width: 99vw;
    display: flex;
    flex-direction: column;
}

.nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 3px solid black;
    border-radius: 3px;
    height: 15vh;
}

.left-nav-bar {
    display: flex;
    border: 1px solid black;
    align-items: flex-end;
    justify-content: space-between;
}

.tab {
    padding: 5px;
}

.right-nav-bar {
    display: flex;
    flex-direction: column;
    /* border: 1px solid black; */
    justify-content: space-around;
    align-items: center;
}

.login-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.small-icon {
    height: 2em;
    width: 2em;
    padding: 5px;
}

.company-logo {
    height: 5em;
    width: 5em;
    padding: 2px;
}

.header{
    padding: 15px 5px;
}

.card-container {
    width: 99vw;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 5px;
    grid-row-gap: 10px;
    border: 3px solid black;
    border-radius: 3px;
    padding-top: 15px;
    justify-items: center;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 15em;
    height: 18em;
    border: 1px solid black;
    border-radius: 3px;
    box-shadow: 1.5px 5px;
}

.card-img {
    width: stretch;
    height: 7em;
    border-radius: .1em;
    opacity: 80%;
}

.card-info {
    display:flex;
    flex-direction: column;
    align-items: center;
}

.link-box {
    width: 13em;
    height: 3em;
    border: 1px solid black;
    border-radius: 3px;
    display: flex;
}